# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
ai-backend/.venv/
env/
.venv

# Environment Variables
ai-backend/.env
.env
.env.*
!.env.example

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
credentials.json
service-account.json
api_keys.json